**/target/
dist
**/*.rs.bk
bin/
pkg/
node_modules/
.cargo-ok

.idea
.wrangler
coverage
.dev.vars*
.pnp.*
.yarn
__pycache__

/codecs/.tools/
/codecs/*/.bench/
/codecs/*/build*/
/codecs/*/dist*/
/codecs/*/third_party/
